:root{
    --main-color: 
}

*{
    font-family: 'Outfit', sans-serif;
}

body{
    font-size: 12px;
}

header{
    background: url('/static/img/header.png')   no-repeat center /cover ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.headerContainer{
    background: #0000008f;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    width: 260px;
    margin-bottom: 50px;
}
header h1{
    background: #0063F7;
    border-radius: 4px;
    color: white;
    font-size: 2em;
    padding: 15px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}
header h2{
    color: white;
    padding:15px;
    font-size: 2em;
    margin: 0px;
    width: 80%;
    text-align: center;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

section:nth-child(2n - 1){
    background: #f2f2f2;
}

section .container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .top, section .bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .top .referencias{

    display: flex;
}
section .top .referencias a{
    text-decoration: none;
    background: #0063F7;
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    margin: 10px;
}

section .bottom img{
    width: 100%;
    max-width: 800px;
}

section .bottom{
    padding: 20px;
    box-sizing: border-box;
}

section .top h1{
    color: black;
    font-size: 50px;
}

.botonEditar{
    position: absolute;
    right: 30;
    top: 30;
    z-index: 20;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #0063F7;
    border:0px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: all 0.5s;
}
.botonEditar:hover{
    box-shadow: 0px 0px 10px #4d94ff;
}

.botonEliminar{
    position: absolute;
    right: 30;
    top: 140;
    z-index: 20;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: red;
    border:0px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: all 0.5s;
}
.botonEliminar:hover{
    box-shadow: 0px 0px 10px red;
}

.botonAgregar{
    position: fixed;
    left: 30;
    top: 30;
    z-index: 20;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: green;
    border:0px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: all 0.5s;
}
.botonAgregar:hover{
    box-shadow: 0px 0px 10px green;
}

/*propiedades para el fab*/

.fab-container {
	position: fixed;
	top: 30px;
	left: 30px;
	/* right: 50px; */
	z-index: 999;
	cursor: pointer;
}

.fab-icon-holder {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #2e7d32;
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.fab-icon-holder:hover{
	opacity: 0.8;
}

.fab-icon-holder i {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	font-size: 25px;
	color: #ffffff;
}

.fab {
	width: 60px;
	height: 60px;
	background: #0063F7;
}

.fab-options {
	transform-origin: 85% l;
	list-style-type: none;
	margin: 0;
	position: absolute;
	top: 70px;
	right: 0px;
	opacity: 0;
	transition: all 0.3s ease;
	transform-origin: 85% top;
}

.fab:hover + .fab-options, .fab-options:hover {
	opacity: 1;
	transform: scale(1);
}

.fab-options li {
	display: flex;
	justify-content: flex-start;
	padding: 5px;
	flex-direction: row;
}
